.footer{
    position: fixed;
    z-index: 2 !important; 
    background-color: #12131a;
    color: #ebecf1;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footerMenu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    gap: 5rem;
   
}

.footerMenu a{
    color: #ebecf1;
}